<!--<h2>Landing Page</h2>-->
<style>
    #rev-but, #people, #drpdown_btn, .video-sym {
        display: none;
    }
</style>
<div class="container" style="background-image: url(/img/banner_about_us.png);background-size: cover; width: 100%; height: 200%;">
    <div class="w3-row">
        <div ng-if="$ctrl.mapping_list.length <= 5" class="w3-col w3-container" style="width:35%"></div>
        <div ng-if="$ctrl.mapping_list.length <= 5" class="w3-col w3-card-4" style="width:30%;">
            <div class="w3-container w3-green header">
                <h4>Projects</h4>
            </div>
            <div class="w3-container">
                <div ng-if="$ctrl.mapping_list.length <= 5" class="col col-33 col_data">
                    <a ng-repeat="item in $ctrl.mapping_list | orderBy : 'item.split(' - ')[1]'"
                        ui-sref="dashboard.page1({'selpro': item})"
                        ng-click="$ctrl.clickPro(item)">
                        <li>{{item.split(' - ')[1]}}</li>
                    </a>
                </div>
            </div>
        </div>
        <div ng-if="$ctrl.mapping_list.length <= 5" class="w3-col w3-container" style="width:35%"></div>

        <div ng-if="$ctrl.mapping_list.length > 5" class="w3-col w3-container" style="width:20%"></div>
        <div ng-if="$ctrl.mapping_list.length > 5" class="w3-col w3-card-4" style="width:60%;">
            <div class="w3-container w3-green header">
                <h4>Projects</h4>
            </div>
            <div class="w3-container">
                <div ng-if="$ctrl.mapping_list.length > 5" class="col col-33 left">
                    <a ng-repeat="item in $ctrl.mapping_list | orderBy : 'item.split(' - ')[1]'"
                        ui-sref="dashboard.page1({'selpro': item})"
                        ng-click="$ctrl.clickPro(item)">
                        <li>{{item.split(' - ')[1]}}</li>
                    </a>
                </div>
            </div>
        </div>
        <div ng-if="$ctrl.mapping_list.length > 5" class="w3-col w3-container" style="width:20%"></div>
    </div>
</div>

