<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- vendor styles -->
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css" />
    <link href="/libs/jquery-uploadfile/css/uploadfile.css" rel="stylesheet">
    <!-- application specific styles -->
    <link rel="stylesheet" href="app.css"/>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="/libs/daterangepicker.min.css"/>-->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="/libs/sweetalert/dist/sweetalert.css" />
    <link rel="stylesheet" type="text/css" href="/libs/datatables/media/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="libs/angular-datatables/dist/css/angular-datatables.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!--angulardatatables-->
    <link rel="stylesheet" type="text/css" href="/libs/jquery/dist/angular-moment-picker.min.css" />
    <!--newely added for responsive-->
    <link rel="stylesheet" href="libs/angular-datatables/dist/plugins/Responsive-2.1.1/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="libs/jquery/dist/datetimepicker.css" />
    <!--end-->
    <link rel="manifest" href="/manifest.json">
    <!--<link rel="" href="OneSignalSDKWorker.js">
    <link rel="" href="OneSignalSDKUpdaterWorker.js">-->
    <link rel="icon" href="images/mini_image.png">
    <!--<link rel="icon" href="data:;base64,iVBORw0KGgo=">-->
    <!--font awesome new link-->
    
   <!--  <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    
    <script>
        var OneSignal = window.OneSignal || [];

        OneSignal.push(["init", {  
          appId: "d0d6000e-27ee-459b-be52-d65ed4b3d025",
          autoRegister: true, 
          notifyButton: {
            enable: false, /* Set to false to hide */
            size: 'medium', /* One of 'small', 'medium', or 'large' */
            theme: 'default', /* One of 'default' (red-white) or 'inverse" (white-red) */
            position: 'bottom-left', /* Either 'bottom-left' or 'bottom-right' */
            title: 'NextPulse', 
            offset: {
                bottom: '0px',
                left: '0px', /* Only applied if bottom-left */
                right: '0px' /* Only applied if bottom-right */
            },
            text: {
                'dialog.main.title': 'NextPulse',
            },
          },
          prenotify: true,
          showCredit: false,
          httpPermissionRequest: {
            enable: false
          },
          welcomeNotification: {
            "title": "NextPulse",
            "message": "Thanks for subscribing!",
            // "url": "" /* Leave commented for the notification to not open a window on Chrome and Firefox (on Safari, it opens to your webpage) */
          },
          displayPredicate: function() {
            return OneSignal.isPushNotificationsEnabled()
                .then(function(isPushEnabled) {
                    /* The user is subscribed, so we want to return "false" to hide the Subscription Bell */
                    return !isPushEnabled;
                });
         },
         promptOptions: {
            siteName: 'NextPulse',
            /* actionMessage limited to 90 characters */
            actionMessage: "We'd like to show you notifications for the latest news and updates.",
            /* acceptButtonText limited to 15 characters */
            acceptButtonText: "ALLOW",
            /* cancelButtonText limited to 15 characters */
            cancelButtonText: "NO THANKS"
         }
        }]);
        OneSignal.push(function() {
        OneSignal.getUserId().then(function(userId) {
            console.log("OneSignal User ID:", userId);
            var user = userId;
            var data = {};
           data['userid'] = user;
           $.ajax({url: '/api/notification/',
                   method: 'POST',
                   data: data,
                   'success': function(response) {
                    console.log(response);      
                }
            });
        });
    });

    </script> -->
  </head>

  <body>
    <div ng-app="bootstrap" class="app">
      <div ui-view autoscroll="false" class="content">
      </div>
      <!-- Loading overlay, which block screen unless everything is rendered -->
      <div ng-if="loading" class="loading-overlay">
        <div><span>Loading...</span></div>
      </div>
    </div>

    <!-- Vendor Scripts -->
    <!--<script src="/main.js"></script>-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js'></script>
    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <script src="/libs/datatables/media/js/jquery.dataTables.min.js"></script><!--angulardatatables-->
    <script src="/libs/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <!--<script src="http://longbill.github.io/jquery-date-range-picker/dist/jquery.daterangepicker.min.js"></script>-->
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
    <!--<script src="/libs/highcharts/highcharts.js"></script>
    <script src="/libs/highcharts/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/no-data-to-display.js"></script>-->

    <!--newly added for displaying no data to display-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/no-data-to-display.js"></script>
    <!--<script src="/libs/highcharts-custom-events/js/customEvents.js"></script>-->
    <script src="https://blacklabel.github.io/custom_events/js/customEvents.js"></script>
    <script src="/libs/jquery-uploadfile/js/jquery.uploadfile.min.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/libs/underscore/underscore-min.js"></script>
    <script src="/js/page1/annotations.js"></script>
    <script src="/libs/angular/angular.min.js"></script>
    <script src="/libs/angular-datatables/dist/angular-datatables.min.js"></script><!--angulardatatables-->
    <script src="/libs/angular-ui-router/release/angular-ui-router.min.js"></script>

    <!--added newely for responsive-->
    <script src="libs/angular-datatables/dist/plugins/Responsive-2.1.1/js/dataTables.responsive.min.js"></script>
    <script src="libs/angular-resource/angular-resource.js"></script>
    <!--ended-->

    <script src="/libs/jquery/dist/datetimepicker.js"></script>
    <script src="/libs/jquery/dist/datetimepicker.templates.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script> 
    <script src="/libs/angular-bootstrap-multiselect/dist/angular-bootstrap-multiselect.min.js"></script>
    <script src="/libs/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Auth Service -->
    <script src="/js/core/auth/auth.js"></script>
    <script src="/js/core/auth/session.js"></script>
    <script src="/js/core/auth/authEvents.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>
    <script src="/libs/jquery/dist/angular-moment-picker.min.js"></script>

    <!-- Utils Service -->
    <script src="/js/core/utils/utils.js"></script>

    <!-- Highcharts Component -->
    <script src="/js/highcharts/highcharts.module.js"></script>
    <script src="/js/highcharts/highcharts.component.js"></script>

    <!-- Login Module -->
    <script src="/js/login/login.module.js"></script>
    <script src="/js/login/login.component.js"></script>

    <!-- Logout Module -->
    <script src="/js/logout/logout.module.js"></script>
    <script src="/js/logout/logout.component.js"></script>

    <!-- Header Module -->
    <script src="/js/header/header.module.js"></script>
    <script src="/js/header/header.component.js"></script>

    <!-- Page1 Module -->
    <script src="/js/page1/page1.module.js"></script>
    <script src="/js/page1/page1.component.js"></script>

    <!-- Landing Module -->
    <script src="/js/landing/landing.module.js"></script>
    <script src="/js/landing/landing.component.js"></script>

    <!-- Review Module -->
    <script src="/js/review/review.module.js"></script>
    <script src="/js/review/review.component.js"></script>

    <!-- People Module -->
    <script src="/js/people/people.module.js"></script>
    <script src="/js/people/people.component.js"></script>

    <!-- Reset Passowrd Moduke -->
    <script src="/js/reset/reset.module.js"></script>
    <script src="/js/reset/reset.component.js"></script>

    <!-- Dashboard Module -->
    <script src="/js/dashboard/dashboard.module.js"></script>
    <script src="/js/dashboard/dashboard.component.js"></script>

    <!-- APP -->
    <script src="/js/app.js"></script>
    <script src="/js/app.config.js"></script>

    <script type="template" id="annotation-popover-tmpl">
        <div id="annotation-popover-<%= id %>" class="annotation-popover popover top">
            <div class="arrow"></div>
            <h3 class="popover-title border-box">
            <i class="annotation-loading"></i>
            <div class="icon-action-group">
                <span class="glyphicon glyphicon-floppy-disk btn btn-sm btn-success" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-trash btn btn-sm btn-danger" aria-hidden="true"></span>
            </div>
            </h3>
            <div class="popover-content">
                <p contenteditable="true">
                    <%= text %>
                </p>
            </div>
        </div>
    </script>

    <script id="analytics">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-100323266-1', 'auto');
      ga('send', 'pageview');

    </script> 
  </body>
</html>
