<body>
<style>
::-webkit-scrollbar-thumb {
      background:#4c4c4c;
}
::-webkit-scrollbar {
      width: 8px;
}
.daterangepicker {
    color: black;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: white;
    border-color: transparent;
    color: black;
 }

.daterangepicker td.in-range {
    background-color: white;
    border-color: transparent;
    color: black;
    border-radius: 0;
}

.card{
    display:inline;
    float:left;
    width:fit-content;
    height:fit-content;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin:5px 5px;
}
.card:hover{
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-header{
    font-size:20px;
    height:30px;
    background-color: #454f68;
}
.card-header-text{
    display: block;
    margin:0px; 
    color:white;
    text-align:center;
}

.card-body{
    background-color: #d3d3d3;

}
.small-card{
    height:33px;
    margin-top:5px;
    background-color:white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}
.small-card-body{
    float:left;
    display:inline;
    margin:0px;
    padding:9px 10px;
    font-size: 15px;
    color:#454f68;
}
.badge{
    display: inline;
    float: right;
    color:white;
    background: #454f68;
    border-radius: 5px;
    padding: 3px 5px;
    margin:7px 5px;
}

/*table {

    margin : 0 auto;
    border: 1px solid #323232;
 }
.table-responsive {
    border: 1px solid #ccc;
    background-color:#ffffff;
    margin: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
.table-bordered>tbody>tr>td {
    border : none;
}

.table>tbody>tr>td {
    border-top: none;
}
.table-bordered>tfoot>tr>th {
    border : none;
}
.table-bordered>thead>tr>td {
    border : none;
}
.table-bordered>thead>tr>th {
    border : none;
}
.body {
        width: 100%;
    }
.body thead, .body tbody, .body tr, .body td, .body th{
    display: block;
 }
.body tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
 .body tbody{
    height: 180px;
    overflow-y: auto;
}

.body th {
    height: 40px;
}

.body td, .body th {
    width: 19.7%;
    float: left;
}

div.content {
    overflow: hidden;
 }
thead {
    border: 1px solid black;
}*/
div.content {
    overflow: hidden;
}

.widget-loader-show {
  background: rgba( 255, 255, 255, .8 ) url('http://sampsonresume.com/labs/pIkfp.gif') 50% 50% no-repeat;
}

.widget-loader-hide {
}

.widget-data-hide {
  display: none;    
}

.widget-data-show {
}

</style>
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2">
        <div id="wrapper">
            <div class="font_value">
                <h4 class="pull-left brand_style">{{$ctrl.project}}</h4>
            </div>
        </div>
    </div>

    <div class="col-lg-5 col-md-5 col-sm-5">
        <div class = "col-lg-12 col-md-12 col-sm-12">
            <div ng-repeat="k in $ctrl.packet_hierarchy_list track by $index" class="packet_num">
                <form>
                    <div class="packet_num col-lg-3 col-md-3 col-sm-3">
                        <select class="form-control input-sm packet" id="{{$index}}">
                            <option>All</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12" id="voice_filter_div">
            <form>
                <div ng-repeat="(key,val) in $ctrl.voice_filters" class="col-lg-3 col-md-3 col-sm-3 voice_filer">
                    <label class="filters">{{key}}</label>
                    <select class="form-control input-sm packet_voice" id="{{key}}" style="height: 34px;">
                    </select>
                </div>
                <div ng-if="$ctrl.is_voice_flag" class="btn-group voice_type" class="col-lg-3 col-md-3 col-sm-3">
                    <h5 class="voice_title">Voice Type</h5> 
                        <button type="button" ng-model="radioModel" class="btn btn-default inbound ng-touched btn-success ng-valid active ng-empty ng-dirty" id="voice_button"ng-click="$ctrl.voiceTypeFilter('inbound',1)" uib-btn-radio="val">Inbound</button>
                        <button type="button" ng-model="radioModel" class="btn btn-default outbound ng-not-empty ng-touched" id="voice_button_1"ng-click="$ctrl.voiceTypeFilter('outbound',1)" uib-btn-radio="outbound">Outbound</button>
                </div>
            </form>
        </div>
    </div>
    <div class="cal_num col-lg-5 col-md-5 col-sm-5">
        <div class="col-lg-6 col-md-6 col-sm-6 date-colum" id="cal_data">
            <div class="col-lg-1 col-md-1 col-sm-1 cal-icon">
                <i class="fa fa-calendar date" aria-hidden="true"></i>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 date_selector">
                <input class="form-control select" id="select" size="22">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="btn-group common-button_1" ng-if="$ctrl.is_voice_flag === true" id="voice_date_type">
                <button type="button" id="hour" ng-model="radioModel" class="btn btn-default hour" ng-click="$ctrl.active_filters('hour','hour_yes')" uib-btn-radio="'Hour'">Hour</button>
                <button type="button" id="day" ng-model="radioModel" class="btn btn-default day" ng-click="$ctrl.active_filters('day','day_yes')" uib-btn-radio="'Day'">Day</button>
                <button type="button" id="week" ng-model="radioModel" class="btn btn-default week" ng-click="$ctrl.active_filters('week','week_yes')" uib-btn-radio="'Week'">Week</button>
                <button type="button" id="Month" ng-model="radioModel" class="btn btn-default month voice_month" ng-click="$ctrl.active_filters('month','month_yes')" uib-btn-radio="'Month'">Month</button>
            </div>
            <div class="btn-group common-button" ng-if="$ctrl.is_voice_flag === false">
                <button type="button" id="day" ng-model="radioModel" class="btn btn-default day" ng-click="$ctrl.active_filters('day','day_yes')" uib-btn-radio="'Day'">Day</button>
                <button type="button" id="week" ng-model="radioModel" class="btn btn-default week" ng-click="$ctrl.active_filters('week','week_yes')" uib-btn-radio="'Week'">Week</button>
                <button type="button" id="Month" ng-model="radioModel" class="btn btn-default month" ng-click="$ctrl.active_filters('month','month_yes')" uib-btn-radio="'Month'">Month</button>
            </div>
        </div>
    </div>
    <!--<div class="col-lg-5 col-md-5 col-sm-5" id="voice_check">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h5>Choose Date</h5>
            <i class="fa fa-calendar date" aria-hidden="true"></i>
            <input class="form-control select" id="voice_date_select" ssize="22">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="btn-group">
                <h5>Choose Period</h5>
                <button type="button" id="hour" ng-model="radioModel" class="btn btn-default hour" ng-click="$ctrl.active_filters('hour','hour_yes')" uib-btn-radio="'Hour'">Hour</button>
                <button type="button" id="day" ng-model="radioModel" class="btn btn-default day" ng-click="$ctrl.active_filters('day','day_yes')" uib-btn-radio="'Day'">Day</button>
                <button type="button" id="week" ng-model="radioModel" class="btn btn-default week" ng-click="$ctrl.active_filters('week','week_yes')" uib-btn-radio="'Week'">Week</button>
                <button type="button" id="Month" ng-model="radioModel" class="btn btn-default month" ng-click="$ctrl.active_filters('month','month_yes')" uib-btn-radio="'Month'">Month</button>
            </div>
        </div>
    </div>-->
</div>
<div class="scroll">
    <div class="row">
        <div ng-repeat="i in $ctrl.final_layout_list">
            <div class="col-sm-{{i.col}} widget">
                <div class="widget-content widget-loader-show widget-{{i.id_num}}a">
                    <div class="widget-title clearfix" title="Sample Widg">
                        <span  id="title-name" class="pull-left">{{i.name}}</span>
                    </div>
                    <div class="widget-body widget-data-hide widget-{{i.id_num}}b">
                        <div ng-if="i.day_type_widget" class="input-group" id="inner2">
                            <div class="btn-group">
                                <button ng-if= "$ctrl.is_voice_flag" type="button" id="hour" ng-model="radioModel" class="btn btn-default hour2" ng-click="$ctrl.dateType('hour', i.opt, i.api, 'hour_yes')" uib-btn-radio="'Hour'">Hour</button>
                                <button type="button" id="day" ng-model="radioModel" class="btn btn-default day2" ng-click="$ctrl.dateType('day', i.opt, i.api, 'day_yes')" uib-btn-radio="'Day'">Day</button>
                                <button type="button" id="week" ng-model="radioModel" class="btn btn-default week2" ng-click="$ctrl.dateType('week', i.opt, i.api, 'week_yes')" uib-btn-radio="'Week'">Week</button>
                                <button type="button" id="Month" ng-model="radioModel" class="btn btn-default month2" ng-click="$ctrl.dateType('month', i.opt, i.api, 'month_yes')" uib-btn-radio="'Month'">Month</button>
                            </div>
                        </div>
                        <highcharts options="$ctrl.final_layout_values_list[i.opt]"></highcharts>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="back-to-top" id="goTop">
        <i class="fa fa-arrow-circle-o-up hide"></i>
    </a>
</div>
<script type="text/javascript" async="async" defer="defer" data-cfasync="false" src="https://mylivechat.com/chatinline.aspx?hccid=73900030"></script>
<p id="hidden-tag">{{$ctrl.hiden_tag}}</p>
</body>


<script>

    $('body').on('click','.btn-group button', function(e) {
     $(this).addClass('active btn-success');
     $(this).siblings().removeClass('active btn-success');
});

$(document).ready(function() {
    $(window).scroll(function() {
        if($(this).scrollTop() > 100) {
            $('#goTop').stop().animate({
                bottom: '0'
                }, 500);
            $('.fa-arrow-circle-o-up').removeClass('hide');
        }
        else{
            $('#goTop').stop().animate({
               bottom: '0'
            }, 500);
            $('.fa-arrow-circle-o-up').addClass('hide');
        }
    });
    $('.scroll').scroll(function() {
        checkScroll();
    })
    $('#goTop').click(function() {
        $('.scroll').stop().animate({
           scrollTop: 0
        }, 500, function() {
           $('#goTop').stop().animate({
               bottom: '0'
           }, 500);
        });
    });
    function checkScroll() {
        if($('.scroll').scrollTop() == 0) {
            $('.fa-arrow-circle-o-up').addClass('hide');
        } else {
            $('.fa-arrow-circle-o-up').removeClass('hide');
        }
    }
});
</script>

