<style>

/*@media (min-width : 768px) {
     .navbar-fixed-top {

          height: 50px;

     }
 }

@media (max-width: 320px) {
    .upload {
        margin-left : -6px !important;
        margin-right: -6px !important;
        margin-bottom: -6px !important;
        margin-top: -3px !important;
    }   
    .navbar-brand {
        font-size : 1em !important;
        font-weight: 100 !important;
    }   
    a.color-out {
        font-size: 2px;
        margin-left: -12px !important;
        margin-right: 4px !important;
        padding: 0px !important;
    }   
        span {
            margin-right: -11px;
            font-size: 11px !important;
        }   
        .name {
            font-size: 13px !important;
            margin-right: 3px !important;
        }   
    }   
}*/

/*.ajax-file-upload {

    background: white !important;
    color: black !important;
    border: none;
}

 .navbar-collapse.in {

     overflow-y: inherit;
 }

 .navbar-collapse {

     overflow-x: hidden;
}

.navbar-toggle {

     margin-right: 2px;
}

.navbar-default .navbar-toggle {

     border-color: black;
     background-color: black;
}

.navbar-default .navbar-toggle:hover {

    background-color: black;
}    

.name {
    font-size:22px;
    margin-right: 3px;
 }
 .admin {
    padding:5px; 
    margin-top:10px;
    margin-right:-5px;
    background:black;
    border-color:white;
    color:white;
}
.upload {
    cursor: pointer;
}

.title {
    font-family: sans-serif;
    color: #3D8B37;
    margin-left:445px;
    font-size: x-large;
}
#home {
    margin-top: 16px;
    font-size: 29px;
    float: left;
    margin-left: 10px;
    color: #63AB62;
 }
 
.logo { 
        float: left;
        width: 13%;
        margin-left: -6px;
        margin-top: -11px;
    }                                         
.position {
    position: fixed;
    margin-top: 0px;
    box-shadow: none !important;
}
dashboard div.dashboard-content {
    margin-top: 79px;
}
#divNewNotifications {
    height:300px;
    overflow-y: scroll;
 }
.dropdown_items {
    text-decoration: none;
    display: block !important;
}
#Proj {
    display: none;
}*/
#divNewNotifications {
    max-height:300px;
    overflow-y: scroll;
  }

  @media screen and (min-width: 960px) {
  .navbar-default {
    height: 60px;
    background:#ffffff;
  }
  .logo {
     width: 50%;
     margin-top: -25px;
  }
  #home {
    margin-top: 5px;
    font-size: 29px;
    color: #63AB62;
    margin-left: -450%;
  }
  .title {
    margin-right: 10px;
    font-size: 22px;
    margin-top: 9px;
    margin-left: 230%;
  }
  .ajax-file-upload {
    background: #fff;
    color: #000;
    border: none;
    font-weight: 400;
    top: 13px;
    left: 9px;
  }

  #drpdown_btn {
	padding-top: 2px;
  }
  #admin_but {
    padding: 5px;
    margin-top: 12px;
    margin-right: -5px;
    color: black;
    border-color: white;
    background-color: white;
  }
  #rev-but {
    padding: 5px;
    margin-top: 12px;
    margin-right: -5px;
    color: black;
    border-color: white;
    background-color: white; 
  }
  .user-data {
    font-size: 16px;
  }
  .name {
    margin-right: 6px;
    font-size: 16px;
  }
  .menu {
    margin-right: -36px;
  }
  .role {
    margin-top: -5px;
  }
  .navbar-default .navbar-nav>.open>a,
  .navbar-default .navbar-nav>.open>a:focus,
  .navbar-default .navbar-nav>.open>a:hover {
        background: none;
    }
  logout {
    padding-top: 12px;
    padding-bottom: 8px;
    margin-left: 9px;
  }
 .fa-key {
    float: left;
    margin-left: -14px;
    margin-top: 3px;
    color:#337ab7;
}
  .msg {
        margin-top: 10px;
        color: #337ab7;
    }
  #update{
    color: #337ab7;
    background: none;
    }
  .user-logout {
    margin-top: -6px !important;
    margin-right: 8px;
  }
  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:focus,
  .navbar-default .navbar-nav>.active>a:hover {
        background: none;
    } 
  }

  @media screen and (max-device-width: 480px) {
    .logo {
        width: 28%;
        margin-top: -13px;
        margin-left: -7px;
    }
    #home {
        font-size: 25px;
        color: #308014;
    }
    #admin_but {
        color: #308014;
        background: none;
        border: none;
        margin-top: -48px;
        text-align: start;
        margin-bottom: 15px;
        margin-left: -3px;
    }
    .ajax-file-upload {
        background: none;
        color: #308014;
        border: none;
        font-weight: 400;
        margin-top: -23px;
        font-size: 15px;
    }
    .title {
        display: none;
    }
    .role {
        margin-top: -28px;
    }
    .user-data {
        font-size: 16px;
        color: #308014;
    }
    .role-data {
        color: #308014;
    }
    .name {
        margin-right: 3px;
    }
    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:focus,
    .navbar-default .navbar-nav>.open>a:hover {
        background: none;
    }
    logout {
        margin-left: 15px;
    }
    #select_dropdown {
        color: #308014;
        margin-top: -23px;
    }
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>.active>a:hover {
        background: none;
    }
  }     
</style>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://nextwealth.in" id="nextwealth" target="_blank"><img class="logo" src="/img/nextwealth.png" alt="Nexwealth_Logo"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="http://nextpulse.nextwealth.in/#!/landing"><span class="glyphicon glyphicon-home" id="home" aria-hidden="true"></span>            </a>
        </li>
        <li><a ><p class="title"><font color="#0EBFE9">Next</font><font color="#308014">Pulse</font></p></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right menu">
	<li>
            <abbr title="Reviews"><a href="/#!/review" id="rev-but" class="btn btn-info" role="button"><i class="fa fa-calendar-check-o" aria-hidden="true" style="font-size:20px;margin-top: -2px;margin-right: 13px;"></i></a></abbr>
        </li>

        <li class="dropdown active span8" id="drpdown_btn">
            <a class="dropdown-toggle" id="select_dropdown" data-toggle="dropdown">
                <span id="dropdown_title">{{$ctrl.select_option}}</span><span class="caret"></span>
            </a>
            <ul ID="divNewNotifications" class="dropdown-menu">
                <li>
                    <a href="" class="dropdown_items" ng-repeat="item in $ctrl.mapping_list"
                                                      ng-click="$ctrl.change_href(item)">
                       {{item.split(' - ')[1]}}</a>
                </li>
            </ul>
        </li>
        <!--<li>
            <a href="/#!/review" id="rev-but" class="btn btn-info" style="padding-right: 20px;" role="button">Reviews</a>
        </li>-->
        <li>
            <a href="/admin/api" id="admin_but" class="btn btn-info" role="button" target="_blank">Admin</a>
        </li>
        <li>
            <div id="fileupload" class="upload">
                <span>Upload</span>
            </div>
        </li>
        <li class="dropdown user role">
             <a href="" class="dropdown-toggle" data-toggle="dropdown">
                 <b><span class="user-data" id="login-user">
                        <i class="fa fa-user name"></i>{{ $ctrl.user.userName }}
                        <i class="fa fa-angle-down"></i>
                   </span>
                 </b>
                 <br>
                 <span class="role-data">{{ $ctrl.user.role }}</span>
             </a>

             <ul class="dropdown-menu sym-log user-logout">
                 <li>
                   <a type="button" class="btn" id="update" data-toggle="modal" data-target="#passModal"><i class="fa fa-key"></i>Update Password</a>
                 </li>
                <li>
                    <logout></logout>
                 </li> 
             </ul>
  <div class="modal fade" id="passModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Update Password</h4>
        </div>
        <div class="modal-body">
          <div class="container">
                <form>
                  <div class="form-group">
                    <label>New Password :</label>
                    <input type="password" class="form-control" style="width:25%;" ng-model="$ctrl.new_password"/>
                  </div>
                  <div class="form-group">
                    <label>Confirm Password :</label>
                    <input type="password" class="form-control" style="width:25%;" ng-model="$ctrl.new_again"/>
                  </div>
                  <button class="btn btn-primary btn-sm" ng-click="$ctrl.password($ctrl.new_password, $ctrl.new_again)">
                    Submit
                  </button>
                  <p ng-if="$ctrl.pass_status" class="msg"> Password changed sucessfully </p>
                  <p ng-if="$ctrl.pass_error" class="msg"> Passwords doesn't match</p>
                </form>
               </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
     </div>
  </div>
</div>

          </li>
      </ul>
    </div>
  </div>
</nav>    


<script>
    $(function () {
       $("#fileupload").uploadFile({
          url:"/api/upload/",
          fileName:"myfile",
          dragDrop: false,
          onSuccess:function(files,data,xhr,pd){
             var file_name = files[0];
             var str_to_display = "You Trying to Upload a Wrong File.Please upload a correct a file";
             console.log(data.result);
            
             if (data.result == 'Duplicate Sheet'){
                     alert('Duplicate Sheet');
                 } 

             else{
                 console.log("in upload refresh");
                 location.reload();
             }
             $('.ajax-file-upload-statusbar').hide();
          },
          onError: function(files,status,errMsg,pd){
            if (errMsg == 'Gateway Time-out'){
            $('.ajax-file-upload-statusbar').hide();
            sweetAlert("Uploading","Sheet loading is in progress", "success");
            }
          }
       });
    });

    $('.dropdown-toggle').dropdown();
    /*$('#divNewNotifications li').on('click', function() {
       $('#dropdown_title').html($(".brand_style").text().replace(" - DASHBOARD",''));
    });*/

</script>
