<style>
#divNewNotifications {
    max-height:300px;
    overflow-y: scroll;
  }
  
@media screen and (min-width: 960px) {
  .navbar-default {
    height: 60px;
    background:#ffffff;
  }
  .logo {
     width: 50%;
     margin-top: -25px;
  }
  #home {
    /*margin-top: 5px;*/
    margin-top: 16px;
    font-size: 29px;
    color: #63AB62;
    /*margin-left: -450%;*/
    margin-left: -399%;
  }
  .title {
    margin-right: 10px;
    font-size: 22px;
    margin-top: 9px;
    margin-left: 270%;
  }
  .ajax-file-upload {
    background: #fff;
    color: #000;
    border: none;
    font-weight: 400;
    top: 13px;
    left: 9px;
  }

  #drpdown_btn {
    padding-top: 2px;
  }
  #admin_but {
    padding: 5px;
    margin-top: 12px;
    margin-right: -5px;
    color: black;
    border-color: white;
    background-color: white;
  }
  #rev-but {
    padding: 5px;
    margin-top: 12px;
    margin-right: -5px;
    color: black;
    border-color: white;
    background-color: white; 
  }
  .user-data {
    font-size: 16px;
  }
  .name {
    margin-right: 6px;
    font-size: 16px;
  }
  .menu {
    margin-right: -36px;
  }
  .role {
    margin-top: -5px;
  }
  .navbar-default .navbar-nav>.open>a,
  .navbar-default .navbar-nav>.open>a:focus,
  .navbar-default .navbar-nav>.open>a:hover {
        background: none;
    }
  logout {
    padding-top: 12px;
    padding-bottom: 8px;
    margin-left: 9px;
  }
 .fa-key {
    float: left;
    margin-left: -14px;
    margin-top: 3px;
    color:#337ab7;
}
  .msg {
        margin-top: 10px;
        color: #337ab7;
    }
  #update{
    color: #337ab7;
    background: none;
    -webkit-appearance: listitem !important;
    }
  .user-logout {
    margin-top: -6px !important;
    margin-right: 8px;
    color: #337ab7;
  }
  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:focus,
  .navbar-default .navbar-nav>.active>a:hover {
        background: none;
    } 
  }

  @media screen and (max-device-width: 480px) {
    .logo {
        width: 28%;
        margin-top: -13px;
        margin-left: -7px;
    }
    .user-logout {
        color: #337ab7;
    }
    #home {
        font-size: 25px;
        color: #308014;
        background: #f6f6f6;
    }
    #admin_but {
        color: #308014;
        background: none;
        border: none;
        margin-top: -48px;
        text-align: start;
        margin-bottom: 15px;
        margin-left: -3px;
    }
    .ajax-file-upload {
        background: none;
        color: #308014;
        border: none;
        font-weight: 400;
        margin-top: -10px;
        font-size: 15px;
        margin-bottom: 2px;
    }
    .title {
        display: none;
    }
    .role {
        margin-top: -28px;
        margin-left: -9px;
    }
    .user-data {
        font-size: 16px;
        color: #308014;
    }
    .role-data {
        color: #308014;
    }
    .name {
        margin-right: 3px;
    }
    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:focus,
    .navbar-default .navbar-nav>.open>a:hover {
        background: none;
    }
    logout {
        margin-left: 15px;
    }
    #select_dropdown {
        color: #308014;
        margin-top: -15px;
        margin-left: -9px;
    }
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>.active>a:hover {
        background: none;
    }
    #rev-but {
       background-color: #f5f5f5;
       color: black;
       border-color: #f5f5f5;
       margin-top: -22px;
       margin-left: -8px;     
    }
    .fa-users {
        margin-top : 0px !important;
        margin-left : 5px;
    }
    .video-sym, #people {
        background : #f6f6f6 !important;
    }
    abbr[title] {
        border-bottom: 1px dotted #f7f7f7 !important;    
    }
    .fa-video-camera {
        margin-top : 0px !important;
        margin-left : -4px;
    }
    #update {
        float : left;
        margin-top: -7px;
        margin-left: -12px;
    }
  }

#people {
    margin-right: 0px;
    /*margin-top: 4px;*/
    font-size: 20px;
    color: #2a2a2a;
    font-weight: bold;
    background: white;      
}
.fa-users {
    margin-top: 16px;
}
.fa-video-camera {
    font-size:20px;
    margin-top: 10px;
    color: black;
}
.fa-calendar-check-o {
    font-size:20px;
    margin-top: -2px;
    margin-right: 13px;
}
.video-sym {
    background : white;
}
.input-form {
    width: 80%;
}
.agent, .space {
    margin-left: 10px;
}
.date-modal{
    width:120%;
    height:450px;
}
.date-in{
    width:32%;
}

</style>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://nextwealth.in" id="nextwealth" target="_blank"><img class="logo" src="/img/nextwealth.png" alt="Nexwealth_Logo">
            </a>        
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><abbr title="Click to View Dashboard"><a href="http://nextpulse.nextwealth.in/#!/landing">
                    <span class="glyphicon glyphicon-home" id="home" aria-hidden="true"></span></a></abbr>
                </li>
                <li><a><p class="title"><font color="#0EBFE9">Next</font><font color="#308014">Pulse</font></p></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right menu">
                
                <li>
                    <abbr title="Reviews">
                        <a href="/#!/review" id="rev-but" class="btn btn-info" role="button"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></a>
                    </abbr>
                </li>
                <li>
                    <abbr title="People's Dashboard"><a href="/#!/people" id="people"><i class="fa fa-users" aria-hidden="true"></i></a>
                    </abbr>
                </li>
                <li>
                    <abbr title="Video"><a class="btn video-sym" role="button" data-toggle="modal" data-target="#videoPop">
                        <i class="fa fa-video-camera" aria-hidden="true"></i></a>
                    </abbr>
                    <div class="modal fade" id="videoPop" role="dialog">
                        <div class="modal-dialog" style="width:65%;">
                            <div class="modal-content" id="myModal">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">NextPulse Video</h4>
                                </div>
                                <div class="modal-body">
                                    <video class="center" style= "width:100%;" controlslist="nodownload" controls>
                                        <source src="nextpulse.webm" type="video/webm">
                                        <source src="nextpulse.mp4" type="video/mp4">
                                        <source src="nextpulse.ogv" type="video/ogv">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                                <div class="modal-footer" style="border-top:none;">
                                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="btn form-sym" role="button" data-toggle="modal" data-target="#date-selector-modal"><i class="fa fa-wpforms" aria-hidden="true" style="font-size: 150%;"></i></a>
                </li>
                <li class="dropdown active span8" id="drpdown_btn">
                    <a class="dropdown-toggle" id="select_dropdown" data-toggle="dropdown">
                        <span id="dropdown_title">{{$ctrl.select_option}}</span><span class="caret"></span>
                    </a>
                    <ul ID="divNewNotifications" class="dropdown-menu">
                        <li>
                            <a href="" class="dropdown_items" ng-repeat="item in $ctrl.mapping_list"
                                    ng-click="$ctrl.change_href(item)">{{item.split(' - ')[1]}}
                            </a>
                        </li>
                    </ul>
                </li>
                <!--<li>
                    <a href="/admin/api" id="admin_but" class="btn btn-info" role="button" target="_blank">Admin</a>
                </li>-->
                <li>
                    <div id="fileupload" class="upload">
                        <span>Upload</span>
                    </div>
                </li>
                <li class="dropdown user role">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <b><span class="user-data" id="login-user">
                        <i class="fa fa-user name"></i>{{ $ctrl.user.userName }}
                        <i class="fa fa-angle-down"></i>
                        </span></b>
                        <br>
                        <span class="role-data">{{ $ctrl.user.role }}</span>
                    </a>
                    <ul class="dropdown-menu sym-log user-logout">
                        <li>
                            <a type="button" class="btn" id="update" data-toggle="modal" data-target="#passModal"><i class="fa fa-key"></i>Update Password</a>
                        </li>
                        <li>
                            <logout></logout>
                        </li>
                    </ul>
                    <div class="modal fade" id="passModal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Update Password</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <form>
                                            <div class="form-group">
                                                <label>New Password :</label>
                                                <input type="password" class="form-control" style="width:25%;" ng-model="$ctrl.new_password"/>
                                            </div>
                                            <div class="form-group">
                                                <label>Confirm Password :</label>
                                                <input type="password" class="form-control" style="width:25%;" ng-model="$ctrl.new_again"/>
                                            </div>
                                            <button class="btn btn-primary btn-sm" ng-click="$ctrl.password($ctrl.new_password, $ctrl.new_again)">
                                                Submit
                                            </button>
                                            <p ng-if="$ctrl.pass_status" class="msg"> Password changed sucessfully </p>
                                            <p ng-if="$ctrl.pass_error" class="msg"> Passwords doesn't match</p>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>      
    </div>
</nav>
<div id="date-selector-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content date-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Date Selector</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control date-in" id="date-selector">
      </div>
    </div>

  </div>
</div>
<script>
    $(function () {
       $("#fileupload").uploadFile({
          url:"/api/upload/",
          fileName:"myfile",
          dragDrop: false,
          onSuccess:function(files,data,xhr,pd){
             var file_name = files[0];
             var str_to_display = "You Trying to Upload a Wrong File.Please upload a correct a file";
             console.log(data.result);
            
             if (data.result == 'Duplicate Sheet'){
                     alert('Duplicate Sheet');
                 } 

             else{
                 console.log("in upload refresh");
                 location.reload();
             }
             $('.ajax-file-upload-statusbar').hide();
          },
          onError: function(files,status,errMsg,pd){
            if (errMsg == 'Gateway Time-out'){
            $('.ajax-file-upload-statusbar').hide();
            sweetAlert("Uploading","Sheet loading is in progress", "success");
            }
          }
       });
    });

    $('.dropdown-toggle').dropdown();


    /*$('#divNewNotifications li').on('click', function() {
       $('#dropdown_title').html($(".brand_style").text().replace(" - DASHBOARD",''));
    });*/

    //   function datepicker(){
    //     document.getElementById('date-selector').style.display='inline';
    // }
</script>
