<!--<style>

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.text-bold {
    font-weight: 700;
}

.review {
    margin-top: 20px;
    cursor: pointer;
}

.details {
    text-align: center;
    padding-top: 100px;
}

</style>

<div class="row">
    <div class="col-md-3">
        <div class="row">
        <div class="col-md-6 review" ng-repeat="review in $ctrl.all_reviews" ng-click="$ctrl.get_review(review)">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">{{review.name}}</h4>
                    <h4 class="card-title">{{review.date}}</h4>
                    <h4 class="card-title">{{review.time}}</h4>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="col-md-9 details">
        <h1>{{$ctrl.rev_tl}}</h1>
        <h1>{{$ctrl.rev_date}}</h1>
        <h1>{{$ctrl.rev_name}}</h1>
        <h1>{{$ctrl.rev_time}}</h1>
        <h1>{{$dtrl.files_list}}</h1>
        <div id="fileuploader">Upload</div>
    </div>
</div>-->
<style>

.main-heading {
    font-size: 30px;
    text-align: center;
    background-color: white;
    padding-bottom: 10px;
}

.review-list {
    width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    color: white;
    margin-left: 52px;
    padding: 7px 7px 7px 7px;
}

.block-data {
    padding-left: 25px;
    padding-top: 10px;
}

.date-style {
    font-size: 25px;
}

.review-data {
    float: right;
}

.tag {
    font-size: 14px;
    padding: .3em .4em .4em;
    margin-right: 30px;
    margin-left: 50px;
}

.cal-image {
    height: 250px;
    width: 1066px;
}

.box-space {
    padding-right: 0px;
    background-color: #F1EFF1;
    width: 300px;
}

.details-block {
    margin-left: 340px;
    margin-right: 200px;
    margin-top: 10px;
    color: #9d9d9d;
}

.icon-padd {
    padding-right: 10px;
}

.attend {
    padding-left: 140px;
    margin-top: -20px;
}

</style>

<div class="row">

    <div class="col-md-3 box-space">
        <p class="main-heading">Meeting Calendar</p>
        <div class="block-data">
            <div ng-repeat="(key, value) in $ctrl.all_reviews">
                <div class="row">
                    <div class="col-md-2">
                        <span class="date-style">{{key | getdate}}</span>
                        <span>{{key | getdate:true}}</span>
                    </div>
                    <div ng-repeat="review in value" class="review-list" style="background-color: {{review.color}}"ng-click="$ctrl.get_review(review)">
                        <span>{{review.name}}</span><br>
                        <span>{{review.time}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div clas="col-md-9">
        <img src="/images/cal.png" class="cal-image">
        <h1 style="font-size: 30px;margin-left: 330px;">{{$ctrl.rev_text}}</h1>
      <div class="details-block">
        <span>Meeting agenda:</span><br><br>
        <span class="agenda-style">{{$ctrl.rev_agenda}}</span>
        <br><br>
        <i class="fa fa-user icon-padd" aria-hidden="true"></i><span style="padding-right: 50px;">Team Lead</span><span>{{$ctrl.rev_tl}}</span><br>
        <br>
        <i class="fa fa-users icon-padd" aria-hidden="true"></i><span>Participants</span>
        <div class="attend">
            <span>Yeswanth</span><br>
            <span>Abhishek</span><br>
            <span>Asifa</span><br>
        </div>
        <hr>
        <div class="row">
        <span ng-repeat="file in $ctrl.all_review_data" class="tag label label-info">
          <span>{{file.name}}</span>
          <a><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a> 
          <br><br>
        </span>
        </div>
        <div id="fileuploader" class="review-data">Upload</div>
        <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
      </div>
    </div>
</div>

<script>
$(document).ready(function()
{
    $("#fileuploader").uploadFile({
    url:"/api/create_reviews/",
    dragDrop:false,
    fileName:"myfile"
    });
});
</script>
