<style>

.main-heading {
    font-size: 30px;
    text-align: center;
    background-color: white;
    padding-bottom: 10px;
    width: 100%;
    position: absolute;
    top: 0;
}

.review-list {
    width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    color: white;
    padding: 7px 7px 7px 7px;
    cursor: pointer;
}

.block-data {
    padding-left: 25px;
    padding-top: 10px;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #F0F0F0;
}

.date-style {
    font-size: 25px;
}

.review-data {
    float: right;
}

.tag {
    font-size: 14px;
    padding: .3em .4em .4em;
    margin-right: 30px;
    margin-left: 50px;
}

.cal-image {
    height: 250px;
    width: 100%;
}

.details-block {
    padding-left: 30px;
    color: #9d9d9d;
}

.icon-padd {
    padding-right: 10px;
}

.attend {
    padding-left: 140px;
    margin-top: -20px;
}

.form-element {
    margin-bottom: 5px;
}

.margin-class {
    margin-left: 0px;
    margin-right: 0px;
}

.padding-class {
    padding-left: 0px;
    padding-right: 0px;
}

.image {
   position: relative;
   width: 100%;
}

.time-format {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  color: white;
  font-size: 30px;
  padding-left: 10px;

}

.date-format {
  position: absolute;
  top: 200px;
  left: 67%;
  width: 100%;
  color: white;
  font-size: 30px;
  padding-left: 10px;
}

.tag-format {
  position: absolute;
  top: 150px;
  left: 90%;
  color: white;
  font-size: 26px;
  padding: 3px;
  background-color: #D24631;
  border-radius: 5px;
}

</style>

<div class="fluid-container" style="margin-left:0px; margin-right: 0px;">
  <div class="row margin-class">
    <div class="col-md-3 padding-class" style="height: 100vh; padding-top: 60px;">
        <p class="main-heading">Meeting Calendar</p>
        <div class="block-data">
            <div ng-repeat="(key, value) in $ctrl.all_reviews">
                <div class="row">
                    <div class="col-md-2">
                        <span>{{key | getdate:"had"}}</span>
                        <span class="date-style">{{key | getdate}}</span>
                        <!--<span>{{key | getdate:true}}</span>-->
                    </div>
                    <div class="col-md-10">
                    <div ng-repeat="review in value" class="review-list" style="background-color: {{review.color}}"
                         ng-click="$ctrl.get_review(review)">
                        <span>{{review.name}}</span><br>
                        <span>{{review.time}}</span>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9 padding-class">
        <div class="image">
            <img src="/images/cal.png" class="cal-image">
            <div class="extra-data">
              <span class="time-format">{{$ctrl.rev_time}} onwards</span>
              <span class="date-format">{{$ctrl.rev_date}}, {{$ctrl.rev_day}}</span>
              <span class="tag-format">Today</span>
            </div>
        </div>
        <h1 style="font-size: 30px;padding-left: 20px;">{{$ctrl.rev_text}}</h1>
      <div class="details-block">
        <span>Meeting agenda:</span><br>
        <span class="agenda-style">{{$ctrl.rev_agenda}}</span>
        <br>
        <i class="fa fa-user icon-padd" aria-hidden="true"></i><span style="padding-right: 50px;">Team Lead</span><span>{{$ctrl.rev_tl}}</span>
        <br>
        <i class="fa fa-users icon-padd" aria-hidden="true"></i><span>Participants</span>
        <div class="attend">
            <span>Yeswanth</span><br>
            <span>Abhishek</span><br>
            <span>Asifa</span><br>
        </div>
        <hr>
        <div class="row" style="width:100%;">
        <span ng-repeat="file in $ctrl.all_review_data" class="tag label label-info">
          <a href="http://projects.headrun.com:9998{{file.path}}" download>{{file.name | getfile}}</a>
          <a><i class="remove glyphicon glyphicon-remove-sign glyphicon-white" ng-click="$ctrl.remove_file(file.name | getfile:true)"></i></a> 
          <br><br>
        </span>
        </div>
        <div id="fileuploader" class="review-data">Upload</div>
        <i class="fa fa-plus-circle fa-2x" data-toggle="modal" data-target="#myModal" ng-click="$ctrl.get_maildata()" aria-hidden="true"></i>
      </div>

    </div>
  </div>
</div>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Review</h4>
        </div>
        <div class="modal-body">
          <form name='regForm' novalidate>

          <div class="row">
            <div class="col-md-3">
              <label>Review Name: </label>
            </div>
            <div class="col-md-9">
              <input type="text" name="reviewname" ng-model="$ctrl.review.reviewname" required class="form-element">
              <span ng-if="regForm.reviewname.$error.required && regForm.reviewname.$touched">
                Review Name is Required
              </span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label>Select Date: </label>
            </div>
            <div class="col-md-9">
              <input type="date" id="exampleInput" name="reviewdate" ng-model="$ctrl.review.reviewdate" class="form-element"
                placeholder="yyyy-MM-dd" min="2017-01-01" max="2020-12-31" required />
              <span ng-if="regForm.reviewdate.$error.required && regForm.reviewdate.$touched">
                Date is Required
              </span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label>Select Time: </label>
            </div>
            <div class="col-md-9">
              <input type="time" id="exampleInput" name="reviewtime" ng-model="$ctrl.review.reviewtime" class="form-element"
                 placeholder="HH:mm:ss" min="00:00:00" max="24:59:59" required />
              <span ng-if="regForm.reviewtime.$error.required && regForm.reviewtime.$touched">
                Time is Required
              </span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label>Meeting Agenda: </label>
            </div>
            <div class="col-md-9">
              <textarea rows="4" cols="50" name="reviewagenda" ng-model="$ctrl.review.reviewagenda" required class="form-element">
                Enter text here...</textarea>
              <span ng-if="regForm.reviewagenda.$error.required && regForm.reviewagenda.$touched">
                Agenda is Required
              </span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label>Participants: </label>
            </div>
            <div class="col-md-9">
              <multiselect ng-model="$ctrl.review.selection" options="$ctrl.mail_options" show-search="true"></multiselect>
            </div>
          </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="regForm.$invalid" 
                  ng-click="$ctrl.submit($ctrl.review)">Submit</button>
        </div>
      </div>
    </div>
  </div>
<!--<script>
$(document).ready(function()
{
    $("#fileuploader").uploadFile({
    url:"/api/create_reviews/",
    dragDrop:false,
    fileName:"myfile"
    });
});
</script>-->
