<style>
.widget-loader-show {
  background: rgba( 255, 255, 255, .8 ) url('http://sampsonresume.com/labs/pIkfp.gif') 18% 68% no-repeat;
}
.mylivechat_inline {
  display: none;
}

</style>

<div class="container-fluid" style="background-image: url(/img/services_banner.png);background-size: cover; width: 100%; height: 100%;">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 logo_data">
      <form method="POST" name="userForm"
        ng-submit="$ctrl.onSubmit($ctrl.credentials)"
        novalidate
        ng-class="{error: $ctrl.errorMsg}">
        <div class="logo">
          <img src="/img/nextwealth.png" alt="Nexwealth_Logo">
        </div>
        <!-- <div class="form-group">
          <span >{{$ctrl.errorMsg}}</span>
        </div> -->
        <div class="form-group" id="login_data">
          <label>USERNAME</label>
          <input type="text" name="uName" ng-model="$ctrl.credentials.username"
            class="form-control " required />
          <span class="field-error"
            ng-show="userForm.uName.$touched">
          <span ng-show="userForm.uName.$error.required">Username is required.</span>
          </span>
        </div>
        <div class="form-group" id="login_data">
          <label>PASSWORD</label>
          <input type="password" name="uPassword"
            ng-model="$ctrl.credentials.password"
            class="form-control" required />
          <span class="field-error" ng-show="userForm.uPassword.$touched">
          <span ng-show="userForm.uPassword.$error.required">Password is required</span>
          </span>
        </div>
        <div class="form-group submit-data">
          <input type="submit"
            ng-disabled="userForm.uName.$error.required || userForm.uPassword.$error.required || $ctrl.viewSubmit"
            class="btn btn-primary blue"
            value="{{$ctrl.loadingText}}" />
        </div>
        <div class="forgot-password">
          <a id="update" data-toggle="modal" data-target="#forgotpassModal">Forgot Password?</a>
        </div>
      </form>
      <div class="modal fade" id="forgotpassModal" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content widget-loader-show">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Forgot Password</h4>
            </div>
            <div class="modal-body">
              <div class="container-fluid forgot-reset" style="width: 100%;">
                <form style="width: 100%;">
                  <div class="form-group">
                    <label>Enter E-mail id</label>
                    <br>
                    <br>
                    <input type="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" class="form-control" ng-model="$ctrl.email_id"
                      style="width: 75%;" required/>
                    <br>
                  </div>
                  <button class="btn btn-primary btn-sm" ng-click="$ctrl.forgot_pass($ctrl.email_id)" id="reset-btn">
                    Submit
                  </button>
                  <br>
                  <p ng-if="$ctrl.pass_reset" class="reset" style="text-align: center;"> An email with verfication link is sent to your mail-id.
                    <br> Please click on that link to reset your password. </p>
                  <p style="text-align: center;" id="err-msg"> {{$ctrl.mailid_mes}}</p>
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="title">
      <p><font color="#1b95ec">Next</font><font color="Green">Pulse</font></p>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 about_data">
      <div class="w3-card-4">
        <div class="w3-container w3-green header">
          <h4>About Us</h4>
        </div>
        <div class="w3-container">
          <p>NextWealth provides
          <strong> Digital Business Processes Management</strong>
          services to companies that embrace digital technologies. One of the outcomes of digital technology implementation is automation of processes that require human effort.</p>
          <p>At one end, there are processes that are amenable to a high degree of automation. In such a  case, there is a need for
          <strong> ‘Human touch to Digital processes.’</strong>
          NextWealth collects, processes, organizes, and analyses vast amount of data that is ready for automation, thus providing
          <i>Digital Data services</i>
          </p>
          <p>At the other end of the spectrum, some processes are still performed manually. In such a case, there is a need for
          <strong> ‘Digital touch to Human processes.’ </strong>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 about_data">
      <div class="w3-card-4">
        <div class="w3-container w3-green header">
          <h4>Services</h4>
        </div>
        <div class="w3-container">
          <p>Digitalization is taking the world by storm and changing the way businesses think, act, and function. To address the new needs and demands of the market, companies are redrawing the processes paradigm to involve IT solutions that help them emerge as market leaders.</p>
          <p>At NextWealth, we take on the all-important task of refining your business processes and enhancing workflows for you. We help you meet the ever-changing needs of the market and stay agile – allowing you to take your business to newer frontiers, every single day.</p>
          <p>And this is achieved through our 3-step strategy to redefine business processes:
          <strong> Increase Operational Efficiency ,</strong>
          <strong> Enhance Processes Quality ,</strong>
          <strong> Boost Business Agility .</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
  <small>Copyright © 2017 NextWealth.NextPulse&#8482; . All rights reserved.</small>
</div>

<!-- <script type="text/javascript" async="async" defer="defer" data-cfasync="false" src="https://mylivechat.com/chatinline.aspx?hccid=73900030"></script>
<script text="text/javascript">
function MyLiveChat_OnInit()
{
  MyLiveChat_InlineTriggerDefinition("[]");
} -->
</script>