login {
    .logo_data {
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 8%;
    }
    img {
        width: 80%;
    }
    small {
        margin-left: 35px;
    }
    #login_data, .logo {
        text-align: center;
    }
    .submit-data, .forgot-password {
        text-align: center;
        cursor: pointer;
    }
    .forgot-reset {
        display: inline-block;
    }
    #header, .card-header {    
        width: auto;
        height: auto;
        padding: 5px 16px;
        background: #417690;
        line-height: 40px;
        color: #ffc;
        overflow: hidden;
    }
    #branding {
        text-align: center;
    }
    #content {
        padding: 20px 20px 0;
    }
    #content-main {
        width: 100%;
    }
    .header {
        text-align: center;
    }
    .about_data {
        margin-top: 12s%;
        min-height: 330px;
    }
    .title {
        text-align: center;
        font-size: 30px;
        margin-top: 8%;
    }
}