page1 {
    @media only screen and (max-device-width: 480px) {
        .btn-group {
            left: -10px !important;
            top: 3px;
            float: left !important;
            margin-left: 77px !important;
            margin-top: 10px;
        }
        .font_value{
            left: 0%;
            /*margin-left: -14px;*/
        }
        .dashboard {
            margin-left: 0px !important;
        }
        .date {
            display: none;
        }
       .btn{
            padding: 1px 5px !important;
            font-size: 12px !important;
            line-height: 1.5 !important;
        }
        .brand_style {
            font-size: 13px !important;
            margin-top: 5px !important;
        }
        .ajax-file-upload {
            padding: 1px 2px;
            font-size: 13px;
            background: whitesmoke !important;
            border: none;
            color: black;
        }
        .date {
            float: right !important;
            font-size: 21px !important;
            padding-top: 6px !important;
            cursor: pointer !important;
            color: #555 !important;
        }
        #inner1 {
            width: 77% !important;
            top: 6px;
            left: -46px;
            float: left !important;
        }
        #divNewNotifications {
            font-size: 13px;
        }
        #inner2 {
            top: 12px;
            left: 17px;
        }
        .select {
            height: 24px !important;
            font-size: 13px !important;
            margin-top: 0px !important;
            width: 50% !important;
            margin-left: 66px !important;
        }
        .packet {
            font-size: 13px !important;
            height: 22px !important;
            padding-top: 1px;
        }
        #title-name {
            font-size: 12px !important;
        }
        .volume {
            /*margin-left: -1%;*/
            height: 106px;
            margin-top: -25px;
            margin-left: -3px;
        }
     }
  .cover;

  display: block;


  .brand_style {
     margin-top: 0px;
     margin-bottom: 0px;
     /*margin-left: 5px;*/
     margin-left: 2px;
     /*margin-left: -11px;*/
     padding-top: 5px; 
     vertical-align: middle;
     text-transform: uppercase;
     font-size: larger;
  }
  .modal-title {
  
      color: #3c3c3c;
      font-weight: bold;
      font-size: 1.0;
      text-align: center;
  }

  .modal-header {

    border-bottom: none;

  }

  .modal-footer {

    border-top: none;

  }

  div.modal-header {

      .close {
          color: #2a2a2a;

      }
  }

  div.modal-footer {

     .btn-default {
          background-color: #ffffff;
          color: #000000;
          font-size: 1.0;
          font-weight: bold;
          border-color: #000000;
     }
   }

div.modal-content {

   background-color: #f5f5f5;
   border-color: 1px solid #323232;

   }
   .date {
     /*float: right;*/
     font-size: 29px;
     padding-top: 6px;
     cursor: pointer;
     color: #555;
     margin-top: -3px;
    }
   #inner1 {
        width: 20%;
        float: right;
        margin-right: -33.95%;
    }
    .select {
        height: 33PX;
        margin-top: -33px;
        margin-left: 33px;
    }
    #inner2 {
        float: right;
        margin-top: -28px;
    }
   .pos {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        width: inherit;
     }
    .form-group { 
        float: left;
        padding-left: 1%; 
        padding-top: 5px;
        margin-bottom: 0px;
        /*margin-left:-61px;*/
     }
    .packet {
        border: solid 1px #ccc !important;
        background: #fff !important;
        color: #000 !important;
    }
    .row_name {
        font-size: 14px;
        margin-right: 0px;
        background-color: #ffffff;
        color: #000000;
        border-bottom: 1px solid #000000;
    }
    .line {
        border:1px solid #3c3c3c;
        margin-bottom:12px;
        margin-left: auto;
    }
    .col-md-6 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .widget-content {
        background-color: #ffffff;
        border : 1px solid #ccc;
        padding: 10px;
    }
    .dashboard {
        float: right;
        margin-right: 6px;
    }

    .volume {
        margin-left: -1%;
     }
    .btn-default.active:hover {
        color: #ffffff !important;
        background-color: #398439 !important;
        border-color: #255625 !important;
    }
    .btn-default.active {
        color: #ffffff !important;
        background-color: #398439 !important;
        border-color: #255625 !important;
    }
    #goTop {
        float: right;
        font-size: -webkit-xxx-large;
        bottom: 0;
        right: 0;
        color: #308014;
        margin-right: 3px;
    }
    .scroll{
        margin-top: 5px;
    }  
    .btn-success {
        color: black !important;
        background-color: #fff !important;
        border-color: #ccc !important;
    }

    .button {
        background-color: #3396C9;
        color: white;
        padding-bottom: 3px;
        padding-top: 4px;
        padding-left: 2px;
        padding-right: 2px;
        font-size: 14px;
        cursor: pointer;
    }
    .btn-group, .btn-group-vertical {
        margin-left: -23px;
    }
    .row {
        margin-left:0px;
        margin-right:0px;
     }
}
